h2.pg-title {
    margin: 4% 0;
    font-family: 'Vollkorn', serif;
    font-size: 2.5em;
}

.reg-form {
    margin: 0 auto 4% auto;
}

.form-type {
    margin: 1% 0;
}

.col-form-label {

    font-family: "Oxygen", sans-serif;
    font-size: 14px;

}

.field {
    margin: 1% 0;
}

label.error-info {
    color: rgb(206, 0, 0);
    font-family: "Vollkorn", serif;
    opacity: 0.6
}



#day {
    width: 40%;
}

#reg-form {
    
    margin: 0 auto;
}