.busi-holder.col-lg-12 {
    border: 1px solid #fff8ef;
    background-color: #0ed60e;
    margin: 1% auto 0 auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    width: 80%;
  
    
}

/* .busi-holder.col-lg-12:hover {
    border: 1px solid #e0ceb9;
    background-color: #e0ceb9;
    margin: 1% auto 0 auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    width: 80%;
    
} */

h3 {
    font-family: 'Oxygen', sans-serif;
}

p {
    font-family: 'Oxygen', sans-serif;
    font-style: italic;
}

.primary-row {
    margin-left: 2%;
    display: inline-block;
}

.btn-row {
    float: right;
    margin-top: 2%;
    margin-right: 1%;
    

}