div.busi-holder {
    border: 1px solid #fff8ef;
    background-color: #fff8ef;
    margin: 1% auto 0 auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 2%; 
    width: 70%;
    margin-bottom: 300px;
    position:relative;
    padding: 0;
  
    
}

#card-img {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    height: 70%;
}

/* .busi-holder.col-lg-12:hover {
    border: 1px solid #e0ceb9;
    background-color: #e0ceb9;
    margin: 1% auto 0 auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    width: 80%;
    
} */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h3 {
    font-family: 'Oxygen', sans-serif;
}


p {
    font-family: 'Oxygen', sans-serif;
    font-style: italic;
}

.primary-row {
    margin-left: 2%;
    display: inline-block;
}

#desc-date-holder {
    margin: 0;
}

span.desc-date {
    margin: 0 2% 0 0;
}

.info-btn {
    padding: 5%;
    font-size: 0.8em;
    border-radius: 10%;
    background-color: #000;
    border: none;
    color: white;
    font-family: 'Oxygen', "sans-serif";
    font-weight: 100;
    transition: all 0.3s ease-out;
    position: absolute;
    top: 20%;
    left: 30%

}


.info-btn:hover {
    background: #e0ceb9;
    border: none;
    color: #000;
    transition: all 0.3s ease-out;
    border-radius: 10%;
    position: absolute;
    top: 20%;
    left: 30%
    
    
    
}


